.coffee-card {
	width: 100%;
	margin-top: 1rem 
}

.coffee-image {
	height: 200px;
}
.coffee-text {
	line-height: 2.5rem
}

.danger {
	background-color: var(--danger);
	color: var(--light);
}

.not-found {
	font-size: 200px;
    text-align: center;
    margin: auto;
}

.feedback-only.form-file .form-file-label,
.feedback-only.form-file [type=file] {
	display:none;
}